<div class="card bg-primary text-left mt-3 pb-3 mx-auto w-50">
  <div class="card-body">
    <form action="/creavisitas" method="post">
      <h3 class="card-title text-center m-auto"><b>Ingreso Visitas</b></h3>
      <div class="mb-3">
        <label class="form-label"><b>R.u.t.</b></label>
        <input name="rut" type="text" class="form-control" required oninput="checkRut(rut)">
      </div>
      <div class="mb-3">
        <label class="form-label"><b>Nombres</b></label>
        <input name="nombres" type="text" required class="form-control">
      </div>
      <div class="mb-3">
        <label class="form-label"><b>Apellidos</b></label>
        <input name="apellidos" type="text" required class="form-control">
      </div>
      <div class="mb-3">
        <label class="form-label"><b>Dirección</b></label>
        <select name="direccion_id" id="sss" class="form-select">
          {{#each rows}}
          <option value="{{this.id}}">{{this.nombre}}</option>
          {{/each}}
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label border border-primary"><b>Sexo del Visitante : </b></label>
        <div class="form-check form-check-inline">
          <label class="form-label"><b>Masculino</b></label>
          <input type="radio" name="sexo" value="M" id="" class="form-check-input">
        </div>
        <div class="form-check form-check-inline">
          <label class="form-label"><b>Femenino</b></label>
          <input type="radio" name="sexo" id="" value="F" class="form-check-input">
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label border border-primary ml-1"><b>Ingreso del Visitante : </b></label>
        <div class="form-check form-check-inline">
          <label class="form-label"><b>En Auto</b></label>
          <input type="checkbox" onchange="cambiar(this.checked)" class="form-check-input">
          <input type="hidden" name="opcion" id="opcion" value="false">
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label"><b>Nro. Patente</b></label>
        <input name="nro_patente" disabled id="patente" type="text" class="form-control">
      </div>
      <div class="mb-3 text-center">
        <button class="btn bg-light my-3"><b>Grabar</b></button>
      </div>
    </form>
    {{#if error}}
    <div class="alert alert-danger" role="alert">
      Visita Ya Existe !!!
    </div>
    {{/if}}
  </div>
</div>

<script>
  const patente = document.querySelector("#patente")
  const opcion = document.querySelector("#opcion")

  const cambiar = (checked) => {
    if (!checked)
      patente.value = '';
    patente.disabled = !checked;
    opcion.value = checked;
  }
</script>