<div class="w-50 mx-auto mt-4">
  <h1>Crea Visita</h1>
  <form method="post">
    <div class="mb-3">
      <label class="form-label">Rut</label>
      <input name="rut" type="text" class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label">Dirección</label>

      <select name="direccion_id" id="sss" class="form-select">
        {{#each rows}}
        <option value="{{this.id}}">{{this.nombre}}</option>
        {{/each}}
      </select>
    </div>
    <div class="mb-3">
      <label class="form-label">Nombre</label>
      <input name="nombre" type="text" class="form-control">
    </div>
    <div class="mb-3">
      <div class="form-check">
        <label class="form-label">Masculino</label>
        <input type="radio" name="genero" value="M" id="" class="form-check-input">
      </div>
      <div class="form-check">
        <label class="form-label">Femenino</label>
        <input type="radio" name="genero" id="" value="F" class="form-check-input">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>