<div class="card bg-primary text-center mx-auto mt-3" style="width: 40rem;">
    <div class="card-body">
        <form action="/iniciar-sesion" method="post">
            <h3 class="card-title text-center m-auto"><b>Iniciar Sesión</b></h3>
            <div class="row d-flex align-items-center mb-2">
                <div class="col-12"><b>R.u.t:</b></div>
                <div class="col-10 m-auto"><input type="text" name="rut" class="form-control" id="rut" required oninput="checkRut(this)">
                </div>
            </div>
            <div class="row d-flex align-items-center mb-2">
                <div class="col-12"><b>Password:</b></div>
                <div class="col-10 m-auto"><input type="password" name="password" class="form-control" required></div>
            </div>
            <button class="btn bg-light my-3"><b>Iniciar</b></button>
            <p><b>¿Aún no tienes cuenta? </b><a class="btn bg-light my-3" href="/registrarme"><b>Regístrarme</b></a></p>
        </form>
    </div>
    {{#if error}}
    <div class="alert alert-danger" role="alert">
        Usuario No Existe !!!
    </div>
    {{/if}}
</div>