<div id="contenedor_principal">
  <form action="/Propietarios">
    <!--Primera Imagen-->
    <div class="contenedor_imagen_texto">
      <div class="w3-panel w3-border w3-round-large">
        <div class="imagen"><img src="/img/propietarios.jpg"></div>
        <div class="texto">Propietarios</div>
        <button class="btn1">Propietarios</button>
      </div>


    <!--Segunda Imagen-->
    <div class="contenedor_imagen_texto">
      <div class="imagen"><img src="/img/visitas.jpg"></div>
      <div class="texto">Visitas</div>
      <p><a class="btn1" href="/visitas">Visitas</a></p>
    </div>

    <!--tercera Imagen-->
    <div class="contenedor_imagen_texto">
      <div class="imagen"><img src="/img/salida.jpg"></div>
      <div class="texto">Salida</div>
      <p><a class="btn1" href="/logout">Salir</a></p>
    </div>
  </form>
   </div>
    </div>
    </div>
