
<div class="container border border-primary" id="contenedor_principal">
  <div class="row my-3 text-center">
    <!--Primera Imagen-->
    <div class="col-sm">
      <div class="imagen"><img height="138" src="/img/propietarios.jpg"></div>
      <div class="texto">Propietarios</div>
         <p><a class="btn btn-primary" href="/propietarios">Propietarios</a></p>
    </div>

    <!--Segunda Imagen-->
    <div class="col-sm">
      <div class="imagen"><img height="138" src="/img/visitas.jpg"></div>
      <div class="texto">Visitas</div>
      <p><a class="btn btn-primary" href="/visitas">Visitas</a></p>
    </div>

    <!--tercera Imagen-->
    <div class="col-sm">
      <div class="imagen"><img height="138" src="/img/salida.jpg"></div>
      <div class="texto">Salida</div>
      <p><a class="btn btn-primary" href="/logout">Salir</a></p>
    </div>
  </div>
</div>