
<div class="container border border-primary" id="contenedor_principal">
  <div class="row my-3 text-center">
    <!--Primera Imagen-->
    <div class="col-md">
      <div class="imagen"><img height="138" src="/img/propietarios.jpg"></div>
         <p><a class="btn btn-primary my-2" href="/propietarios"><b>Propietarios</b></a></p>
    </div>

    <!--Segunda Imagen-->
    <div class="col-md">
      <div class="imagen"><img height="138" src="/img/visitas.jpg"></div>
      <p><a class="btn btn-primary my-2" href="/visitas"><b>Visitas</b></a></p>
    </div>

    <!--Tercera Imagen-->
    <div class="col-md">
      <div class="imagen"><img height="138" src="/img/informe.jpg"></div>
      <p><a class="btn btn-primary my-2" href="/salidas"><b>Registrar Salidas</b></a></p>
    </div>

    <!--Cuarta Imagen-->
    <div class="col-md">
      <div class="imagen"><img height="138" src="/img/salida.jpg"></div>
      <p><a class="btn btn-primary" href="/logout"><b>Salir</b></a></p>
    </div>
  </div>
</div>