<div class="card bg-primary text-center" style="width=" 60rem" height="60rem">
  <div class="card-body">
    <form action="/Propietarios">
      <div>
        <h3 class="card-title text-center m-auto">Menu</h3>
        <img src="/img/propietarios.jpg" width="300" height="150">
        <button class="btn bg-light my-3">Propietarios</button>
      </div>
      <div>
        <img src="/img/visitas.jpg" width="300" height="150">
        <p><a class="btn bg-light my-3" href="/visitas">Visitas</a></p>
      </div>
      <div>
        <img src="/img/salida.jpg" width="300" height="150">
        <p><a class="btn bg-light my-3" href="/logout">Salir</a></p>
      </div>
    </form>
  </div>
</div>