<div class="card bg-primary text-center mx-auto mt-3" style="width: 40rem;">
    <div class="card-body">
        <form action="/registrarme" method="post">
            <h3 class="card-title text-center m-auto"><b>Ingreso Usuario</b></h3>
            <div class="row d-flex align-items-center mb-2">
                <div class="col-12 my-2"><b>R.u.t:</b></div>
                <div class="col-10 m-auto"><input type="text" name="rut" required class="form-control" oninput="checkRut(rut)">
                </div>
            </div>
            <div class="row d-flex align-items-center mb-2">
                <div class="col-12 my-2"><b>Nombre:</b></div>
                <div class="col-10 m-auto"><input type="text" name="nombre" required class="form-control"></div>
            </div>
            <div class="row d-flex align-items-center mb-2">
                <div class="col-12 my-2"><b>Password:</b></div>
                <div class="col-10 m-auto"><input type="password" name="password" required class="form-control"></div>
            </div>
            <button class="btn bg-light my-3"><b>Grabar</b></button>
        </form>
            {{#if error}}
    <div class="alert alert-danger" role="alert">
        Usuario Ya Existe !!!
    </div>
    {{/if}}
    </div>
</div>